.ghoul-selector {
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto 2.25em;
	padding: 0 1em;
	width: 50%;
	vertical-align: top;
}

.ghoul-checkbox {
	border: 7.5px solid $transparent;
	border-radius: 420px;
	display: block;
	overflow: hidden;
	position: relative;
	transition: 0.15s ease-in-out border-color;
	width: 100%;

	&:before {
		content: '';
		display: block;
		overflow: hidden;
		padding-top: 100%;
	}

	&:hover,
	.ghoul-selected &,
	.ghoul-focused & {
		border: 7.5px solid $nomineeFocus;
		outline: none;

		.ghoul-image {
			filter: none;
			height: 105%;
			left: -2.5%;
			top: -2.5%;
			width: 105%;
		}
	}
}

.ghoul-image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 420px;
	display: block;
	height: 100%;
	filter: grayscale(100%) contrast(150%);
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: 0.35s ease-in-out all;
	width: 100%;
}

.ghoul-checkbox-input {
	left: -100px;
	position: absolute;
}

.ghoul-name {
	font-size: 1.4em;
	margin-top: 10px;
}

@media screen and (min-width: 37.5em) {
	.ghoul-selector {
		width: 33.3%;
	}
}

@media screen and (min-width: 64em) {
	.ghoul-selector {
		width: 25%;
	}
}

@media screen and (min-width: 76.25em) {
	.ghoul-selector {
		width: 20%;
	}
}
