.ghouls-nominee-list {
	margin: 0 -40px 2em;
	padding: 0;
	text-align: center;
}

.ghoul-selector {
	box-sizing: border-box;
	display: inline-block;
	left: 0;
	margin: 0 auto 2.25em;
	padding: 0 1em;
	width: 50%;
	vertical-align: top;
}

.ghoul-animation {
	opacity: 1;
	transform: translate(0, 0);
	transition: .5s ease-in-out transform, .5s ease-in-out opacity;

	&.is-hidden {
		opacity: 0;
		transform: translate(-200px,-200px);
	}

	&.is-shown {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.ghoul-checkbox {
	background: $transparent;
	border: 7.5px solid $transparent;
	border-radius: 420px;
	display: block;
	overflow: hidden;
	position: relative;
	transition: 0.15s ease-in-out border-color;
	width: 100%;
	z-index: 10;

	&:before {
		content: '';
		display: block;
		overflow: hidden;
		padding-top: 100%;
	}

	&:hover,
	.ghoul-selected &,
	.ghoul-focused & {
		border: 7.5px solid $nomineeFocus;
		outline: none;

		.ghoul-image {
			filter: none;
			transform: scale(1.1);
		}
	}
}

.ghoul-image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 420px;
	display: block;
	height: 100%;
	filter: grayscale(100%) contrast(150%);
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: center;
	transition: 0.35s ease-in-out transform, 0.35s ease-in-out filter;
	width: 100%;
	z-index: -1;
}

.ghoul-checkbox-input {
	background: transparent;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.ghoul-name {
	font-size: 1.4em;
	margin-top: 10px;
}

@media screen and (min-width: 37.5em) {
	.ghoul-selector {
		width: 33.3%;
	}
}

@media screen and (min-width: 64em) {
	.ghoul-selector {
		width: 25%;
	}
}

@media screen and (min-width: 76.25em) {
	.ghoul-selector {
		width: 20%;
	}
}
