@import '../variables';

$bodyBg: $darkGreen;
$bodyText: $lightGrey;
$bodyFont: $slab;
$linkColor: $lightGreen;
$linkFocus: $black;

$focusColor: $lightGreen;
$focusOutline: $lightGreen;
$headerOutline: $lightGreen;
$footerOutline: $lightGreen;

$nomineeBorder: $bodyBg;
$nomineeFocus: $lightGreen;

$headerBG: rgba($black, 0.25);
$headerText: $lightGreen;
$headerLink: $lightGreen;

$footerBG: $black;
$footerText: $lightGreen;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';
