@import '../variables';

$bodyBg: $black;
$bodyText: $white;
$bodyFont: $slab;
$linkColor: $lightGreen;
$linkFocus: $white;

$focusColor: $lightGreen;
$focusOutline: $lightGreen;
$headerOutline: $lightGreen;
$footerOutline: $lightGreen;

$nomineeBorder: $bodyBg;
$nomineeFocus: $lightGreen;

$headerBG: rgba($black, 0.3);
$headerText: $lightGreen;
$headerLink: $lightGreen;

$footerBG: $black;
$footerText: $white;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';
