@import '../variables';

$bodyBg: $white;
$bodyText: $black;
$bodyFont: $slab;
$linkColor: $darkGreen;
$linkFocus: $darkGreen;
$focusColor: $darkGreen;

$nomineeBorder: $bodyBg;
$nomineeFocus: $lightGreen;

$headerBG: rgba($white, 0.3);
$headerText: $black;
$headerLink: $darkGreen;

$footerBG: $black;
$footerText: $white;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';
@import '../features/focus';

a:focus {
	// TODO
}
