@import '../variables';

$bodyBg: $black;
$bodyText: $white;
$bodyFont: $slab;
$linkColor: $lightGreen;
$linkFocus: $white;
$focusColor: $lightGreen;

$headerBG: rgba($black, 0.3);
$headerText: $lightGreen;
$headerLink: $lightGreen;

$footerBG: $black;
$footerText: $white;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';
@import '../features/focus';

a:focus {
	// TODO
}
