@import '../variables';

$bodyBg: $lightGreyAccessible;
$bodyText: $green;
$bodyFont: $slab;
$linkColor: $green;
$linkFocus: $lightGreen;
$focusColor: $transparent;

$nomineeBorder: $bodyBg;
$nomineeFocus: $lightGreen;

$headerBG: rgba($darkGreen, 0.8);
$headerText: $lightGreen;
$headerLink: $lightGreen;

$footerBG: $black;
$footerText: $lightGreen;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';
