@import '../variables';

$bodyBg: $white;
$bodyText: $black;
$bodyFont: $slab;
$linkColor: $darkGreen;
$linkFocus: $darkGreen;

$focusColor: $darkGreen;
$focusOutline: $darkGreen;
$headerOutline: $darkGreen;
$footerOutline: $darkGreen;

$nomineeBorder: $bodyBg;
$nomineeFocus: $lightGreen;

$headerBG: rgba($white, 0.3);
$headerText: $black;
$headerLink: $darkGreen;

$footerBG: $black;
$footerText: $white;
$footerLink: $lightGreen;
$footerLinkHover: $white;

@import '../imports';
@import '../features/contrast';

.ghouls-logo {
	filter: invert(100%);
}

.ghouls-header:after {
	opacity: 0.05;
}
