.ghoul-animation {
  opacity: 1;
  transition: .5s;
  transform: translate(0, 0); }
  .ghoul-animation.is-hidden {
    opacity: 0;
    transform: translate(0, 0); }
  .ghoul-animation.is-shown {
    transform: translate(0, 0); }

.ghoul-checkbox:hover .ghoul-image,
.ghoul-selected .ghoul-checkbox .ghoul-image,
.ghoul-focused .ghoul-checkbox .ghoul-image {
  filter: none;
  height: 101%;
  left: -0.5%;
  top: -0.5%;
  width: 101%; }
