.ghouls-header-container {
    margin-bottom: 2em;
	margin-top: 60px;
}

.ghouls-header {
	background-color: $headerBG;
    color: $headerText;
	height: 100px;
    padding: 0.625em 0;
	position: relative;
	z-index: 5;

	&:after {
		background: url('/assets/img/overlay.png') repeat 50% 50%;
		background-size: cover;
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0.2;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

    .ghouls-link {
        color: $headerLink;
    }

	.ghouls-content {
		display: flex;
		z-index: 5;
	}
}

.ghouls-link {
	display: inline-block;
	height: 145px;
	margin-top: -45px;
	position: relative;
	width: auto;
	z-index: 5;

	&:after {
		color: $black;
		content: 'G&G';
		display: inline-block;
		font-family: $cursive;
		font-size: 46px;
		left: 50%;
	    position: absolute;
	    top: 42px;
	    transform: translateX(-50%) rotate(-5deg);
	}

	&:focus {
		outline: 3px dashed $headerOutline;

		&:after {
			color: $darkGreen;
		}
	}
}

.ghouls-title {
	font-size: 2em;
}

.ghouls-logo {
	display: block;
	height: 145px;
	max-width: none;
}

.ghouls-description {
	display: inline-block;
	font-family: $cursive;
	font-size: 3.375em;
	font-weight: bold;
	margin-left: 20px;
	z-index: 5;
}
