.ghouls-results-list {
	margin: 0 auto;
	max-width: 42em;
	padding: 0;
	width: 100%;
}

.ghouls-results-item {
	margin: 0 0 2em;
	padding: 0;
	text-align: center;
	width: 100%;
}

.ghouls-results-img-container {
	border-radius: 150px;
	display: block;
	height: 150px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.ghouls-result-img {
	display: block;
	height: 200px;
	left: 50%;
	max-width: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: auto;
}

.ghouls-result-name {
	font-size: 1.5rem;
	text-align: center;
}

.ghouls-result-votes {
	display: block;
	font-size: 1rem;
}

@media screen and (min-width: 48em) {
	.ghouls-results-item {
		align-items: center;
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.ghouls-results-img-container {
		display: inline-block;
		margin-left: 0;
		vertical-align: middle;
	}

	.ghouls-result-name {
		display: inline-block;
		font-size: 1.5rem;
		margin-left: auto;
		text-align: right;
	}
}
