@media (-ms-high-contract: black-on-white) {
	:root {
	    --bodyBg: #FFFFFF;
		--bodyText: #000000;
		--bodyFont: 'Arbutus Slab', serif;
		--linkColor: #313F1F;
		--linkFocus: #313F1F;

		--focusColor: #313F1F;
		--focusOutline: #313F1F;
		--headerOutline: #313F1F;
		--footerOutline: #313F1F;

		--headerBG: rgba(255, 255, 255, 0.7);
		--headerText: #B0E272;
		--headerLink: #B0E272;

		--nomineeBorder: #FFFFFF;
		--nomineeFocus: #B0E272;

		--footerBG: #000000;
		--footerText: #FFFFFF;
		--footerLink: #B0E272;
		--footerLinkHover: #FFFFFF;
	}
}

@media (-ms-high-contract: active) {
    :root {
		--bodyBg: #F5F5F5;
		--bodyText: #5E793D;
		--bodyFont: 'Arbutus Slab', serif;
		--linkColor: #5E793D;
		--linkFocus: #B0E272;

		--headerBG: rgba(49, 63, 31, 0.8);
		--headerText: #B0E272;
		--headerLink: #B0E272;

		--focusColor: #B0E272;
		--focusOutline: #B0E272;
		--headerOutline: #313F1F;
		--footerOutline: #B0E272;

		--nomineeBorder: #F5F5F5;
		--nomineeFocus: #B0E272;

		--footerBG: #000000;
		--footerText: #FFFFFF;
		--footerLink: #B0E272;
		--footerLinkHover: #FFFFFF;
    }
}

@media (prefers-contrast: high) {
    :root {
		--bodyBg: #F5F5F5;
		--bodyText: #5E793D;
		--bodyFont: 'Arbutus Slab', serif;
		--linkColor: #5E793D;
		--linkFocus: #B0E272;

		--headerBG: rgba(49, 63, 31, 0.8);
		--headerText: #B0E272;
		--headerLink: #B0E272;

		--focusColor: #B0E272;
		--focusOutline: #B0E272;
		--headerOutline: #313F1F;
		--footerOutline: #B0E272;

		--nomineeBorder: #F5F5F5;
		--nomineeFocus: #B0E272;

		--footerBG: #000000;
		--footerText: #FFFFFF;
		--footerLink: #B0E272;
		--footerLinkHover: #FFFFFF;
    }
}
