.ghouls-footer {
    background-color: $footerBG;
    bottom: 0;
    color: $footerText;
    left: 0;
    margin-top: 2em;
    padding: 1em 0.375em;
    position: fixed;
    right: 0;
    text-align: center;
	z-index: 10;

	&:after {
		background-color: $footerBG;
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		z-index: -1;
	}

	&:before {
		background: url('/assets/img/hand.png') no-repeat 50% 50%;
		background-size: contain;
		bottom: 80px;
		content: '';
		display: block;
		height: 90px;
		filter: brightness(10%);
		left: 7.5%;
		position: fixed;
		width: 90px;
	}
}

.ghouls-emoji {
	background: $transparent;
	border: 0;
	display: inline-block;
	font-size: 2.5em;
	outline: none;
	margin: 0 3px;
	vertical-align: middle;

	&:focus {
		outline: 2px solid $footerOutline;
	}
}

.ghouls-footer-link {
    color: $footerLink;
    transition: 0.35s ease color;

    &:hover,
    &:focus {
        color: $footerLinkHover;
    }
}

.ghouls-secret-trigger {
    bottom: 25px;
    left: -9999px;
    position: absolute;
}
