body {
    background-color: $bodyBg;
    color: $bodyText;
	font-family: $bodyFont;
}

.ghouls-castle-bg {
    background: $bodyBg url('/assets/img/castle.jpg') no-repeat 50% 50%;
	background-size: cover;
	bottom: 0;
	left: 0;
	opacity: 0.1;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

.ghouls-main {
	z-index: 10;
}

.ghouls-content {
    display: block;
    margin: 0 auto;
    max-width: 90em;
    padding: 0 1em;
    width: 80%;
}

.ghouls-body-content {
	padding-bottom: 130px;
	z-index: 2;
}

.ghouls-loading {
    padding: 3.25em 0;
    text-align: center;
}

.ghouls-link {
    color: $linkColor;
    transition: 0.35s ease color;

    &:hover,
    &:focus {
        color: $linkFocus;
    }
}

.ghouls-heading {
    margin-bottom: 1em;
}

.ghouls-section-header {
	margin: 0 auto 1.6em;
	max-width: 54em;
	width: 100%;
}

.ghouls-section-heading {
	font-family: $bodyFont;
	font-size: 2.2em;
	margin-bottom: 1.4em;
	text-align: center;
	vertical-align: middle;
}

.ghouls-section-description {
	font-size: 1.4em;
	margin-top: 1em;
}

.ghouls-accessible-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ghouls-button-row {
    display: block;
    margin: 3em 0 2em;
    padding: 0;
    width: 100%;
}

.ghouls-button {
    background-color: $bodyBg;
    border: 2px solid $bodyText;
    border-radius: 6px;
    color: $bodyText;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    margin: 0 auto;
    padding: 0.75em 1.25em;
    transition: background 0.5s ease, color 0.5s ease;
    width: auto;

    &:hover,
    &:focus {
        background-color: $bodyText;
        color: $bodyBg;
    }
}

.ghouls-list-fade {
    animation: .6s ease-out fadeIn;
}

.ghouls-label {
	display: block;
	font-size: 1.2em;
	margin: 0 0 6px;
}

.ghouls-input {
	display: block;
	font-size: 1em;
	height: 42px;
	width: 100%;
}

a:focus,
button:focus,
input:focus {
	outline: 2px solid $focusColor;
}

@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 36em) {
	.ghouls-nominee-list {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (min-width: 52.5em) {
	.ghouls-section-header {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.ghouls-button {
			margin-right: 0;
			vertical-align: middle;
		}
	}

	.ghouls-section-heading {
		display: inline-block;
		margin-bottom: 0;
		margin-right: auto;
		text-align: left;
		vertical-align: middle;
	}
}
