$lightGreen: #B0E272;
$green: #5E793D;
$darkGreen: #313F1F;

$transparent: transparent;
$white: #FFFFFF;
$lightGrey: #E9E9E9;
$lightGreyAccessible: #F5F5F5;
$darkGrey: #666666;
$black: #000000;


$cursive: 'Creepster', cursive;
$slab: 'Arbutus Slab', serif;
